[submodule "pallets/fula-pallet"]
	path = pallets/fula-pallet
	url = https://github.com/functionland/fula-pallet
	branch = feature/pools
[submodule "pallets/fula-pool"]
	path = pallets/fula-pool
	url = https://github.com/MauricinhoMorales/fula-pool
	branch = pool
